$accentColor: #09686B;
$commonColor: #525252;
$secondaryColor: #BFBFBF;
$borderColor: #D9D9D9;
$errorColor: #F00C2C;
$successColor: #C9D211;
$lightColor: #ffffff;

$mainFont: 'Crete Round', 'Times New Roman', serif;